extends layout

block content
	.container
		//- Link to login screen
		h1 An easier way to find volunteers for your event.

		for e in events
			.div.col-lg-4.col-md-4.col-sm-6.col-xs-6.no-padding.height
				a.eventimg(href="/viewEvent/#{e._id}")
					img.eventimg.img-responsive.floatleft.no-padding(src='#{e.image}')
					a.eventimg.caption(href="/viewEvent/#{e._id}") #{e.title}