doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Backstage Pass
		link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css")
		link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
		link(rel="stylesheet", href="/scripts/main.css")

	body
		.container
			.navbar
				.container-fluid
					.navbar-header
						a.navbar-brand(href='/')
							img(alt='Backstage Pass Logo' href='/')
						p WHAT UP
		
		block content



		//- <nav class="navbar navbar-default" role="navigation">
		//-   <div class="container-fluid">
		//-     <div class="navbar-header">
		//-       <a class="navbar-brand" href="#">
		//-         <img alt="Brand" src="...">
		//-       </a>
		//-     </div>
		//-   </div>
		//- </nav>


	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js")
	script(src="/scripts/main.js")
