doctype html
html(lang='en')
	head
		meta(charset="utf-8")
		title Backstage Pass
		link(rel="stylesheet", href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/css/bootstrap.min.css")
		link(href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")
		link(href='http://fonts.googleapis.com/css?family=Raleway:400,900,800' rel='stylesheet' type='text/css')
		link(rel="stylesheet", href="/scripts/main.css")

	body
		//- .container
		//- 	nav.navbar
		//- 			.navbar-header
		//- 				a.navbar-brand(href='/')
		//- 					img(alt='Backstage Pass Logo' href='/')
		//- 			ul.nav.navbar-nav
		//- 				li WHAT UP


		.navbar.opaque
			.navbar-header
				a.brand(href='#')
					img(src='http://placehold.it/150x50&text=Logo')
				a.btn.btn-navbar(data-toggle='collapse' data-target='.nav-collapse')
			.nav-collapse
				ul.nav.navbar-nav
					li
						a.white(href='/auth/login') My Dashboard
					li
						a.white(href='#') Events
							
		
		block content


	script(src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js")
	script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js")
	script(src="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.0/js/bootstrap.min.js")
	script(src="/scripts/main.js")
