.img-container {
	position: fixed;
	height: 300px;
	width: 380px;
}

.img-container img {
	position: absolute;
}

.img-container p {
	position: absolute;
	display: inline;
}

.no-padding {
	margin:0;
	padding-left:0 !important;
	padding-right:0 !important;
}

.floatleft {
	float:left;
}